<div class = "manual">  
  <div class = "manual_text">
    <h2>仕様説明書</h2>
      <br>  
      <%= image_tag "manuals/manual001.png", class: "image" %>
      <%= image_tag "manuals/manual002.png", class: "image" %>
      <%= image_tag "manuals/manual003.png", class: "image" %>
      <%= image_tag "manuals/manual004.png", class: "image" %>
      <%= image_tag "manuals/manual005.png", class: "image" %>
      <%= image_tag "manuals/manual006.png", class: "image" %>
      <%= image_tag "manuals/manual007.png", class: "image" %>
      <%= image_tag "manuals/manual008.png", class: "image" %>
      <%= image_tag "manuals/manual009.png", class: "image" %>
      <%= image_tag "manuals/manual010.png", class: "image" %>
      <%= image_tag "manuals/manual011.png", class: "image" %>
      <%= image_tag "manuals/manual012.png", class: "image" %>
      <%= image_tag "manuals/manual013.png", class: "image" %>
      <%= image_tag "manuals/manual014.png", class: "image" %>
      <%= image_tag "manuals/manual015.png", class: "image" %>
      <%= image_tag "manuals/manual016.png", class: "image" %>
      <%= image_tag "manuals/manual017.png", class: "image" %>
      <%= image_tag "manuals/manual018.png", class: "image" %>
      <%= image_tag "manuals/manual019.png", class: "image" %>
      <%= image_tag "manuals/manual020.png", class: "image" %>
  </div>