<p><%= @order.user.company %></p>
<p><%= @order.ordered_name %> 様

<p>===============================</p>

  この度は、大井５号予約サイトをご利用頂きましてありがとうございます。<br>
  ご自分でキャンセルされました場合、または大井５号ターミナル管理者によってご予約がキャンセルとなりました場合のいずれかで<br>
  このメールが配信されています。<br>
<br>
  キャンセルとなりましたご予約内容は下記の通りです。
<br>
<p>予約日：<%= @order.date %></p>
<p>予約時間：<%= @order.ordered_begin_time %>から<%= @order.ordered_end_time %></p>
<p>コンテナ番号：<%= @order.cntr_number %></p>

  大変恐れ入りますが、もし心当たりのない場合は下記までご連絡をくださいますよう、よろしくお願いいたします。<br>
  東海運：03-5755-8366

