<!DOCTYPE html>
<html>
  <head>
    <title>【大井５号】予約搬出システム</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <link rel="stylesheets" href="style.scss">
    <link rel="stylesheets" href="normalize.css">
 

  </head>

  <body>
    <%= yield %>
  </body>
</html>
